*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: #01B4BC;
    font-family:"cooper black", fantasy;
    color: #ffcb29;
}
header a{
    color: #ffcb29;
    text-decoration: none;
}
header a:hover{
    color: #ffc100;
}
header img{
    position: relative;
    left: 250px;
    top:40px;
}
header h1{
    font-size: 60px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    bottom: 30px;
}
nav{
    text-align: center;
}
nav ul{
    list-style:none;
}
nav ul li{
    font-size: 30px;
    display: inline;
    padding: 0px 1.3%;
    position: relative;
    bottom:20px;
}

header section{
    position: relative;
    left: 440px;
    bottom: 10px;
    background: white;
    border-radius: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header section input{
    width: 80%;
    padding: 10px;
    position: relative;
    left: 20px;
    border: none;
    background: none;
    outline: none;
}

header a#lupa{
    color:#1e3050;
    padding: 20px;
}

main .barra-info{
    display: flex;
    justify-content: space-around;
}
main .info{
    width: 20%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 40px;
}
main .icon{
    position: relative;
    top: 30px;
    left: 15px;
    width: 20%;
}

main .info-text{
    text-align: center;
    font-family:"cooper black", fantasy;
    color: #01B4BC;
}
main .mini-info{
    position: relative;
    left: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    width: 50%;
}

main .promocoes{
    display: flex;
    justify-content:space-around;
}
main .promo{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #01B4BC;
    border-radius: 50px;
    width: 30%;
    align-items: center;
}
main .promo-texto h1{
    font-family:"cooper black", fantasy;
    color: #ffc100;
}
main .promo-texto h4{
    font-family:"cooper black", fantasy;
    text-decoration-line: line-through;
}
main .promo-texto h2{
    font-family:"cooper black", fantasy;
    color: white;
}

main .sessao{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    font-family:"cooper black", fantasy;
    color:#01B4BC;
}






footer{
    background-color: #01B4BC;
    color: #ffcb29;
}
footer h3{
    font-size: 20px;
    font-family:"cooper black", fantasy;
    letter-spacing: 1px;
}